*{
    margin: 0;
    padding: 0;
}

h1 , h2{
display: flex;
justify-content: center;
margin: 20px;
}

h3{
    font-style: oblique;
    padding: 15px;
}
form{
    background-color: rgb(233, 233, 233);
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
}

label{
    font-style: oblique;
    color: black;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

input{
    border-radius: 10px;
}

button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card{
   border-radius: 10px;
   background-color: black;
   color: white;
   margin: 20px;
   padding: 20px;
   width: 300px;
   display: inline-block;
   
}

.btn{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    color: red;
    display: flex;
    justify-content: center;
}

.card-img{
    width: 100%;
}

.card-text{
   text-align: center;
   padding: 5px;
}

.card-title {
    text-align: center;
    font-style: oblique;
    font-size: 20px;

}

#pagarSuelta, #pagarCuatro, #pagarOcho, #pagarDoce{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#opciones{
    width: 150px;
    height: 40px;
    padding: 5px;
    margin-left: 15px;
}

.cardClases{
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.pagos{
    background-color: #0000008c;
}

.compra{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
    height: 300px;
}

#carrito{
    margin: 30px;
    color: white;
}

#compra{
    color: white;
}

#resumen-carrito{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#precio{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#resumen{
    display: flex;
    flex-direction: column;
}

.resumen-items{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.boton-eliminar{
    background-color: rgb(255, 0, 0);
    color: white;
    width: 70px;
    height: 30px;
    margin-top: 10px;
}

#boton-comprar{
    background-color: rgb(133, 233, 133);
    color: black;
    width: 70px;
    height: 30px;
    margin-top: 10px;
}

span{
    font-style: oblique;
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
}